<div class="w3-row-padding" id="block">
  <div class="w3-col" style="width:30%"><p> </p></div>
  <div class="w3-col" style="width:40%">
    <p class="w3-center w3-xlarge">Block Name</p>
    <input class="w3-input w3-border" name="blockName"  value="defaultblock" onclick="dropFunction()" onkeyup="filterFunction()" id="blockname">
      <div class="w3-dropdown-content" id="blockFilter">
        <a class="w3-button" onclick="selectABlockname(this)">defaultblock</a>
      </div>

  </div>
  <div class="w3-col" style="width:30%">
    <br />
    <br />
    <br />
    <br />
    <button class="w3-button w3-white  w3-round-xlarge w3-border-black w3-large" onclick='window.location.href = "/newblock"'> CREATE NEW BLOCK </button>
  </div>
</div>

<div id="keySector">
  <div class="w3-row">
    <p class="w3-xlarge w3-left-align">Keyword 1</p>

    <div class="w3-twothird">
        <input class="w3-input w3-border" name="keyword" placeholder="a familiar keyword" type="password" onkeypress="return letEncryptPassword(event)"/>
    </div>
    <div class="w3-third">
        <img src="views/images/addnewkey.png" alt="add a new keyword" style="width:50px;height:50px;" class="w3-hover-opacity" onclick="addNewAKeyWord()">
        <img src="views/images/removeakey.png" alt="remove a keyword" style="width:50px;height:50px;" class="w3-hover-opacity" onclick="removeAKeyWord()">
        <img src="views/images/showcontent.png" alt="show the password" style="width:50px;height:50px;" class="w3-hover-opacity" onclick="showContent(this)" >
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="w3-row">
  <div class="w3-col" style="width: 30%"><p> </p></div>
  <button class="w3-button w3-white  w3-round-xxlarge w3-border-black w3-xlarge w3-col" style="width: 40%" onclick="generatePassword()"> GENERATE PASSWORD </button>
  <div class="w3-col" style="width: 30%"><p> </p></div>
</div>
<br/>
<br/>
<br/>
<br/>

<div>
  <p class="w3-xlarge w3-center">YOUR PASSWORD HERE</p>
<div class="w3-third"><p></p></div>
  <div class="w3-third">
      <input class="w3-input w3-border" type="password" id="encryptedPassword"/ readonly>
  </div>
  <div class="w3-third">
      <img src="views/images/showcontent.png" alt="show the password" style="width:50px;height:50px;" class="w3-hover-opacity" onclick="showContent(this)">
      <img src="views/images/copytoclipboard.png" alt="copy the passeword" style="width:50px;height:50px;" class="w3-hover-opacity" onclick="copyContent(this)">
  </div>
</div>
