<!-- views/partials/footer.ejs -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="w3-container">
  <div class="w3-container w3-border w3-large">
    <p class="w3-center">Bui Viet Hung - MIT License <br /></p>
  </div>
</div>
