    <div class="w3-row" style="position:fixed;top:0;width:100%;z-index:5">
        <div class="w3-col  m2 l3 w3-hide-small" ><p></p>
        </div>
        <div class="w3-bar w3-center-align w3-black w3-col m8 l6" style="overflow:hidden;opacity:0.9;box-shadow:1px 1px 2px #80FFFF ,-1px -1px 2px #80FFFF;">
            <div onclick="BackToHome()" class=" topnav-icons w3-bar-item w3-btn w3-hover-white w3-hover-text-black" langkey="Home">Home</div>
 <!--            <div onclick="BackToHome()" class="topnav-icons w3-bar-item w3-btn w3-hover-white w3-hover-text-black" langkey="About">About</div> 
            <div onclick="BackToHome()" class="topnav-icons w3-bar-item w3-btn w3-hover-white w3-hover-text-black" langkey="Usage">Usage</div>   
            <div onclick="BackToHome()" class="topnav-icons w3-let w3-bar-item w3-btn w3-hover-white w3-hover-text-black" langkey="Document" >Document</div>      
            <div onclick="AddNewBlockOpen()" class="topnav-icons w3-bar-item w3-btn w3-hover-white w3-hover-text-black" langkey="AddNewBlock">Add New Block</div>   --> 
            <div onclick="ChangeLanguage()" class="topnav-icons w3-bar-item w3-btn w3-hover-white w3-hover-text-black w3-orange" langkey="language" id="lang">English</div>         
        </div>
    </div>