<!-- views/partials/head.ejs -->
<!-- <meta name="google-site-verification" content="aF4U3l681DGGWYGYmyE6-QnSzFtaEMxLfS73zx42DD4" /> -->
<script type="application/ld+json">
{
  "@context": "https://easykeytopass.com/",
  "@type": "Web-Application-Tool",
  "name": "Ez password",
  "author": "Bui Viet Hung - Nguyen Xuan Loc",
  "image": "https://easytopass.com/views/images/key.png",
  "description": "It is a tool to encode and secure passwords by using keyword-based authentication ",
  "blockName": {
    "@type": "a seed to generate new password",
    "defaultValue": "defaultblock",
    "isUnique": "true",
    "includeHints": "More than one hint for each block",
    "bestQuantityOfHint": "3"
  },
  "keyWord": {
    "@type": "Easy to remember keywords",
    "range": "more than 1 character",
    "isOrderSensitive": "true",
    "typeOfSubmit": "Array of keywords"
  },
  "aboutEasykeytopass": "In order to help the password become not only more secure but also easier to remember by using keyword-based password",
  "passwordSpecification": {
  "@type": "About this password generator",
    "isUnique": "Not sure, but no one could know the password even the webmaster or admin",
    "isSecured": "With 32 characters in length and mixed between numbers, lower characters and upper character. Yes, the Easykeytopass generated passwords is more secured then common ones",
    "notEasyToForget": "The password are generated from your familiar keyword such as name, birthday and favourite website. Thus, it is not easy to forget."
  },
  "gettingStarted": "will be developed soon",
  "APIDocument": "will be developed soon"
}
</script>
<meta charset="UTF-8">
<title>Easy password </title>
<link rel='shortcut icon' type='image/x-icon' href='views/images/key.png' />
<!-- CSS (load bootstrap from a CDN) -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="layout/w3.css">
<script src="layout/jquery.min.js"></script>
<script src="layout/language.js"> </script>
<script src="src/Background.js"> </script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<style>
    input::placeholder {
        color: gray;
    }
    ::-webkit-input-placeholder { /* Chrome */
        color: gray;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: gray;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: gray;
        opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
        color: gray;
        opacity: 1;
    }
</style>