
<div id="header" class="w3-row">
        <div class="w3-col LeftBlankCol ">
            <p> </p>
        </div>
        <div style="position: relative" class="w3-col CenterCol">
            <div class="w3-left"  style="position: absolute">
                <img class="w3-col" src="views/images/WhiteInTrans.png" style="height:80px;width:80px;top:2px;position:absolute"/>
                <h1 class="w3-text-white" style="width:50%;margin:0;position: relative; left:102px;top:5px">EasyKeyToPass</h1>
                
            </div>
            <div class="w3-content w3-small w3-row w3-right " id="settingpannel" > 
                
                <select class="w3-small w3-black w3-text-white w3-col FwhenS" id="lang" onchange="SelectLanguage()">
                    <option value="vi">Tiếng Việt</option>
                    <option value="en">English</option>
                </select> 
            </div>       
        </div>
        <div class="w3-col LeftBlankCol ">
            <p> </p>
        </div>
    </div>