<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en" class="w3-black">
<head>
    <% include ../partials/head %>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet"> 
    <style>
        .about-font {
            font-family: 'Libre Baskerville', serif;
        }
        .sup {
          position: relative;
          bottom: 1ex; 
          font-size: 80%;
        }        
    </style>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
<br />
<br />
<br />
<br />
    <main>
        <div>
            <p class="about-font" langkey="html-content">
                There are a lot of websites and applications, for example, email, favourite forums or social networks having password authentication. <br />
                Most of the cases, the passwords are the same or nearly the same among the websites with a unique login account.<br />
                There is a security risk if the above situation is occured, only one leaked password is needed to <i>hack</i> all the accounts on these website. <br />
            <br />
                Thus, <a href="../">easykeytopass</a> is used to organize and memorize all your passwords with a block of <b>HINT(S)</b> and <b>KEYWORD(S)</b>. <br />

                In short, a constant password is generated after input the correct <b>BLOCK NAME</b> and <b>KEYWORDS</b> for each hints.<br />
                <br />
                <br />
                About us: <br />
                We have faced the issue that <b>"one password for all"</b>. <br />
                If the password is disclosed, there are tons of thing need to be change. <br />
                <br />
                With keyword-based password, the only thing we need to remember are the <b>BLOCK NAME</b> and answer the listed hint(s).
                <br />

            </p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
