<!DOCTYPE html>
<html class="w3-black">
<head>
  <% include ../partials/head %>
</head>
<body class="w3-row">
	<header>
  		<% include ../partials/header %>
  	</header>
		<% include ../partials/body %>
  
  <footer class="w3-col">
      <% include ../partials/footer %>
  </footer>

</body>
</html>
