<!DOCTYPE html>
<html class="w3-black"  lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
        <div id="BackGround" style="width:100%">
           
        </div>
    <div style="position:fixed ;z-index:-1;left:0;width:100%;background: black;height: 80px; opacity: 0.8"> <p></p>
        
    </div>
	<header>
  		<% include ../partials/header %>
  	</header>
		<% include ../partials/body %>
  
  <footer class="w3-col">
      <% include ../partials/footer %>
  </footer>

</body>
</html>
